[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-braces = "*"
django-embed-video = "*"
python-memcached = "*"
django-memcache-status = "*"

[dev-packages]

[requires]
python_version = "3.8"
