[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-braces = "*"
django-embed-video = "*"
python-memcached = "*"
django-memcache-status = "*"
djangorestframework = "*"
requests = "*"
channels = "*"
channels-redis = "*"
psycopg2-binary = "*"
uwsgi = "*"
daphne = "*"

[dev-packages]

[requires]
python_version = "3.8"
